NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOYMENT=
NEXT_PUBLIC_APP_URL=http://localhost:3000
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_REDIRECT_URI=http://localhost:3000/api/auth/workos/callback
WORKOS_COOKIE_SECRET=
MAIL_FROM=
MAIL_HOST=
MAIL_PORT=587
MAIL_SECURE=false
MAIL_OAUTH_USER=
MAIL_OAUTH_CLIENT_ID=
MAIL_OAUTH_CLIENT_SECRET=
MAIL_OAUTH_REFRESH_TOKEN=
MAIL_OAUTH_ACCESS_TOKEN=
